.index-bg {
  background: url('./../libs/img/bgImg/index-bg-mobile.png');
  background-repeat: no-repeat;
  background-size:100% 100%;
  z-index: -2;
  padding-bottom: 30px;
}
.index-title-bg {
  position: relative;
  background: url('./../libs/img/bgImg/index-bg-title.jpeg');
  background-size: cover;
  background-position:10% 30%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 2;
}


.bg-box::before {
  position: absolute;
  top:90px;
  left: 30%;
  content:'';
  background: #1E9D88;
  opacity: 10%;
  width: 40%;
  height: 30px;
  z-index: 1;
  -moz-transform:rotate(175deg);
  -webkit-transform:rotate(175deg);
  -o-transform:rotate(175deg);
  -ms-transform:rotate(175deg);
  transform:rotate(175deg);
}
.index-bg-section::after {
  @include index-bg-section(56%, 35%);
  
}
.group-title::after {
  content:'';
  bottom: 0;
  right: 35%;
  top:0;
  left:-10%;
  z-index: -1;
  position: absolute;
  background-color: $bright-green;
  border-radius: 0px 40px 40px 0px;
}
.group-card-area {
  img {
    z-index: 1;
  }
}
@include sm-size {
  .group-title::after {
    border-radius: 40px;
    left:0;
  }
  .index-bg-section::after {
    @include index-bg-section(50%, 50%);
  }
}
@include md-size {
  .border-w-md-2{
    border-width: 2px;
  }
  .bg-box::before {
    top: unset;
    left: -100px;
    bottom:40%;
    height: 70px;
    width: 300px;
    -moz-transform:rotate(80deg);
  -webkit-transform:rotate(80deg);
  -o-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
  }
  .index-bg {
    background: url('./../libs/img/bgImg/index-bg-pc.png');
    background-size:100% 100%;
    height: 660px;
  }
  .h-660px {
    height: 660px;
  }
  
}
@include lg-size {
  .index-card-img::before {
    @include index_card_before($card-img-green-200);

  }
  .index-card-img-bright::before{
    @include index_card_before($card-green-100);
  }
}
