.myOrder-order {
  .table-striped>tbody>tr:nth-child(odd)>td, 
  .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: $card-green-100;
    color: $dark-green;
  }
}
.myOrder-equipment-bg {
  background-image: url('./../libs/img/bgImg/index-bg-mobile.png');
  background-size:100% 100%;
}

@include md-size {
  .myOrder-equipment-bg {
    background-image: url('./../libs/img/bgImg/index-bg-pc.png');
  }
}