@include lg-size {
  .line-lg-before::before{
    position: absolute;
    top:10%;
    left: 36%;
    content:'';
    border-radius: 10px;
    height: 80%;
    width: 3px;
    background: $card-img-green-200;
  }
}