body {
  background-color: $bg-green;
}
ul li {
  //清除marker
  list-style-type: none;
  margin:0;
  padding: 0;
  text-indent: 0;
}
footer{
  a:hover {
    color: #fff !important;
    transition-duration:0.2s;
  }
}