@mixin sm-size {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin md-size {
  @media (min-width:768px) {
    @content;
  }
}
@mixin lg-size {
  @media (min-width:992px) {
    @content;
  }
}
@mixin index_card_before($bg-color) {
  content:'';
  top:76px;
  right: 53px;
  position: absolute;
  background: $bg-color;
  width: 65%;
  height: 48%;
  z-index: 0;
  border-radius: 10px;
}