//異動BS5的內容
.btn-outline-primary.btn:hover{
  color: $own-white
}
.color-own-brown-lighten {
  color: lighten($own-brown, 25%)
}
.color-own-brown-lighten-35 {
  color: lighten($own-brown, 35%)
}
.color-dark-green-lighten {
  color: #99ae98;
}
.bg-bright-green-opacity {
  background-color: rgba(254, 255, 246, 0.3);
}
//自定義
.btn-hover-text-white:hover {
  color: $own-white
}
.tl-radius {
  border-radius: 35px 0 0 0;
}
.tr-radius {
  border-radius: 0 35px 0 0;
}
.br-radius {
  border-radius: 0 0 35px 0;
}
.bl-radius {
  border-radius: 0 0 0 35px;
}
.drop-shadow {
  -webkit-filter: drop-shadow(3px 3px 4px rgba(47, 107, 72, 0.7));
    filter: drop-shadow(3px 3px 4px rgba(47, 107, 72, 0.7))
}
.tl-bl-radius {
  border-radius: 35px 0 0 35px;
}
.tr-br-radius {
  border-radius: 0 35px 35px 0;
}
@include md-size {
  .radius-md-all {
    border-radius: 40px;
  }
}
@include lg-size {
  .radius-lg-0 {
    border-radius: 0;
  }
  .radius-lg-bl-30{
    border-bottom-left-radius: 35px;
  }
  .radius-lg-tr-30{
    border-top-right-radius: 35px;
  }

}