.tl-radius {
  border-radius: 35px 0 0 0;
}
.tr-radius {
  border-radius: 0 35px 0 0;
}
.br-radius {
  border-radius: 0 0 35px 0;
}
.bl-radius {
  border-radius: 0 0 0 35px;
}
.drop-shadow {
  -webkit-filter: drop-shadow(3px 3px 4px rgba(47, 107, 72, 0.7));
    filter: drop-shadow(3px 3px 4px rgba(47, 107, 72, 0.7))
} 
@include lg-size {
  .radius-lg-0 {
    border-radius: 0;
  }
  .radius-lg-bl-30{
    border-bottom-left-radius: 35px;
  }
  .radius-lg-tr-30{
    border-top-right-radius: 35px;
  }

}