.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next:after, .swiper-button-prev:after {
  color: $primary;
  font-size: 22px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content:'';
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content:'';
}
.swiper-button-next:after {
  position: absolute;
  bottom:0;
  background-color: $primary;
  -webkit-mask-image: url('./../libs/img/icon/caret-right-solid.svg');
  mask-image: url('./../libs/img/icon/caret-right-solid.svg');
}
.swiper-button-prev:after {
  background-color: $primary;
  -webkit-mask-image: url('./../libs/img/icon/caret-left-solid.svg');
  mask-image: url('./../libs/img/icon/caret-left-solid.svg');
}

.swiper-button-next, .swiper-button-prev{
  top: 90% !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 40% !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 40% !important;
}

@include md-size {
  .swiper-button-next, .swiper-button-prev{
    top: 50% !important;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 10px !important;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 10px !important;
  }
  .mySwiper {
    .index-card-img::before, .index-card-img-bright::before{
      bottom: 234px;
      left: 74px;
    }
  }
}
